<main class="content-area dark-theme-wrapper">
  
  <section class="torneio-section mb-5">
    <h2 class="section-title">Participando</h2>
    
    <div class="torneios-grid" *ngIf="torneiosParticipando.length > 0">
      <app-torneio-card *ngFor="let t of torneiosParticipando" [torneio]="t"></app-torneio-card>
    </div>

    @if (torneiosParticipando.length === 0) {
      <p class="empty-text">Nenhum torneio encontrado que você esteja participando!</p>
    }
  </section>

  <section class="torneio-section mb-5">
    <h2 class="section-title">Meus Torneios Criados</h2>
    
    <div class="torneios-grid" *ngIf="torneiosCriados.length > 0">
      <app-torneio-card *ngFor="let t of torneiosCriados" [torneio]="t" [modoAdmin]="true"></app-torneio-card>
    </div>
    
    @if (torneiosCriados.length === 0) {
      <p class="empty-text">Nenhum torneio encontrado que você tenha criado!</p>
    }
  </section>

  <section class="torneio-section mb-5">
    <h2 class="section-title">Moderando</h2>
    
    <div class="torneios-grid" *ngIf="torneiosModerando.length > 0">
      <app-torneio-card *ngFor="let t of torneiosModerando" [torneio]="t" [modoAdmin]="true"></app-torneio-card>
    </div>
    
    @if (torneiosModerando.length === 0) {
      <p class="empty-text">Nenhum torneio encontrado que você esteja como moderador!</p>
    }
  </section>

</main>