<div class="app-layout">
  
  <app-sidebar></app-sidebar>

  <div class="main-wrapper">
    <app-header></app-header>
    
    <main class="content-area">
      
      <div class="perfil-container">
        
        <div class="perfil-card">
          <div class="avatar-section">
            <img src="https://a.ppy.sh/" alt="Avatar Grande" class="avatar-large">
            <div class="status-badge online"></div>
          </div>
          
          <div class="info-section">
            <h1 class="nick-title">{{ username }}</h1>
            <p class="role-text">Membro Oficial</p>
            
            <div class="stats-row">
              <div class="stat-box">
                <span class="stat-label">Membro desde</span>
                <span class="stat-value" style="text-transform: capitalize;">{{ dataEntrada }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="config-section">
          <h3>Detalhes da conta</h3>
          <div class="config-card">
            
          </div>
        </div>

      </div>

    </main>
  </div>
</div>