<div class="auth-container">
  <h2>Criar nova conta</h2>
  
  <form (submit)="onCadastro($event)" class="cadastro-form-flow">
    
    <app-custom-input 
      label="E-mail" 
      type="email" 
      name="email" 
      placeholder="seu@email.com" 
      [(value)]="email">
    </app-custom-input>

    <app-custom-input 
      label="Usuário" 
      name="username" 
      placeholder="Como quer ser chamado?" 
      [(value)]="username">
    </app-custom-input>
    
    <app-custom-input 
      label="Senha" 
      type="password" 
      name="password" 
      placeholder="Crie uma senha forte" 
      [(value)]="password">
    </app-custom-input>

    <app-custom-select
      label="Nacionalidade"
      name="nacionalidade"
      [options]="listaNacionalidades"
      [(value)]="nacionalidade">
    </app-custom-select>

    <app-custom-select
      label="Idioma Padrão"
      name="idioma"
      [options]="listaIdiomas"
      [(value)]="idioma">
    </app-custom-select>
    
    <button type="submit" class="osu-btn" [disabled]="carregando">
      {{ carregando ? 'Registrando...' : 'Registrar e Jogar' }}
    </button>
  </form>
  
  <p class="switch-page">Já tem uma conta? <a routerLink="/login">Faça Login</a></p>
</div>